.contact-page-component{
  position: relative;

  height: 100%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 40px;



  .animation-wrapper{
    opacity: 0;
    transform: scale(.7);
    transition: opacity .2s, transform .2s;
    &.animation-wrapper-animation{
      &-enter{
        &-active{
          opacity: 1;
          transform: scale(1);
        }
        &-done{
          opacity: 1;
          transform: scale(1);
        }
      }
    }


    .mouse-icon{
      height: 300px;
    }


    .text-container{
      text-align: center;
      opacity: 0;
      transform: scale(.7);
      transition: opacity .4s, transform .4s;
      &.content-text-animation{
        &-enter{
          &-active{
            opacity: 1;
            transform: scale(1);
          }
          &-done{
            opacity: 1;
            transform: scale(1);
          }
        }
      }


      a{
        border: 1px solid black;
        border-radius: 5px;
        padding: {
          right: 35px;
          left: 35px;
          top: 15px;
          bottom: 15px;
        };
        font-weight: 600;
        color: white;
        background-color: black;
        font-size: .8rem;
        text-decoration: none;
        display: inline-block;
        transition: transform .4s;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.19);

        &:hover{
          transform: translate(0%, -5%);
          box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.19);
        }
      }
    }

    .contact{
      font-size: 3rem;
      text-align: center;
      span.label{
        font-weight: 200;
        opacity: .3;
      }
      height: 60vh;
      padding-top: 14rem;
      font-weight: 600;
      color: #232323;
    }

  }

}