h1{
  font-size: 3.7rem;
  line-height: 1.3;
  margin: 5px;
  color: #111;
}
.center{
  text-align: center;
}
h2{
  font-size: 2.64rem;
  line-height: .9;
  margin: 0;
  color: #111;
}
h3{
  font-size: 2.4rem;
  color: #111;
  font-weight: 800;
  margin: 0;
  margin-bottom: 5px;
  span.icon{
    font-size: 1.5rem;
  }
}
p{
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(0,0,0,.7);
  strong{
    color: rgba(0,0,0,1);
  }
  span.icon{
    color: rgba(0,0,0,1);
  }
}

a{
  color: blue;
  text-decoration: none;
}
.text-title{
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: blue;
  }
  h3{
    font-size: 2.64rem;
  }
}