.page-title-component{

  color: #212121;
  font-weight: 900;
  font-size: 2.3rem;
  padding-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 10%;

  opacity: 0;
  transition: opacity .4s, transform 0.4s;
  transform: translate(-20%, 0);

  will-change: opacity, transform;

  span{
    font-weight: 200;
    font-size: 2rem;
    font-style: italic;
    color: #a4a4a4;
  }

  &.page-title-animation{
    &-enter{
      &-active{
        opacity: 1;
        transform: translate(0%, 0);
      }
      &-done{
        opacity: 1;
        transform: translate(0%, 0);
      }
    }
  }
}