@import "../utils/vars";


.text{
  width: 60%;
  display: block;

  @media screen and (min-width: $iphone5) and (max-width: $iphone6-7-8){ // iphone 5
    width: 95%;
  }
  @media screen and (min-width: $iphone6-7-8) and (max-width: $iphone-plus) { // iphone 6/7/8
    width: 95%;
  }
  @media screen and (min-width: $iphone-plus) and  (max-width: $ipad){ // iphone plus
    width: 80%;
  }
  @media screen and  (min-width: $ipad) and (max-width: $ipad-pro){ // ipad
    width: 76%;
  }
  @media screen and (min-width: $ipad-pro){ // ipad pro
    max-width: 66%;
  }
  @media only screen and (min-width: 1200px) { // 1200 and ⬆︎
    max-width: 60%;
  }

  margin: {
    left: auto;
    right: auto;
    // top: 10vh;
    bottom: 7vh;
  };

  &.center{
    text-align: center;
  }

  h2{
    margin-top: 15vh;
  }
}
hr{
  opacity: .1;
  margin: 0;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $iphone5) and (max-width: $iphone6-7-8){ // iphone 5
    width: 95%;
  }
  @media screen and (min-width: $iphone6-7-8) and (max-width: $iphone-plus) { // iphone 6/7/8
    width: 95%;
  }
  @media screen and (min-width: $iphone-plus) and  (max-width: $ipad){ // iphone plus
    width: 80%;
  }
  @media screen and  (min-width: $ipad) and (max-width: $ipad-pro){ // ipad
    width: 76%;
  }
  @media screen and (min-width: $ipad-pro){ // ipad pro
    max-width: 66%;
  }
  @media only screen and (min-width: 1200px) { // 1200 and ⬆︎
    max-width: 60%;
  }


}

.text-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13vh;
  @media screen and (min-width: 1000px){
    max-width: 650px;
  }
}