.password-field{
  display: flex;
  align-items: center;
  justify-content: center;

}
.send-button-wrapper{
  margin-top: 10%;
  text-align: center;

  button{
    $button-bg-color: blue;
    font-size: 1.3rem;
    background-color: $button-bg-color;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;

    transition: transform 200ms, box-shadow 200ms, opacity 200ms;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
    transform: scale(1);
    will-change: transform, box-shadow, opacity;
    &:hover{
      transform: scale(.98);
      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.6);
    }
    &:disabled{
      cursor: not-allowed;
      opacity: .5;
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0);
      &:hover{
        transform: scale(1);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0);
      }
    }
  }
}