.start-page-component {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;


  .list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li{
      list-style: none;
      width: 46%;
      margin-bottom: 5vh;

      opacity: 0;
      transform: translate(0, 15%);
      transition: opacity 400ms, transform 400ms;
      &.li-animation{
        &-enter{
          &-active{
            opacity: 1;
            transform: translate(0, 0);
          }
          &-done{
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
    }

  }

  .recent-works{
    .no-proj{
      font-size: 1rem;
      font-weight: 900;
      opacity: .3;
      text-align: center;
      margin: 70px;
    }
  }

  .grey-bg{
    background-color: #fbfcfd;
  }

  .about-me{
    padding: {
      top: 20vh;
      bottom: 20vh;
    };
    .greeting{
      color: black;
      font-size: 1.6rem;
    }
  }
}