.bio-page-component{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .blur-wrapper{
    transition: filter 500ms;
    filter: blur(0);
    will-change: filter;
    &.blured{
      filter: blur(3px);
    }
  }


  .download-button-wrapper{
    text-align: center;
    .download-button{
      cursor: pointer;
      font-size: 1.3rem;
      background-color: black;
      color: white;
      border-radius: 8px;
      padding: 10px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}