.word-unfold-component{
  & > span{
    display: inline-block;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    transform: translate(0, -10%);
  }

  &.word-unfold-animation{
    &-enter{
      &-active{
        span{
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      &-done{
        span{
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}