@import "../../../../style/utils/vars";

.password-input-component{

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input.number-input{
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    border: 2px solid #d6d6d6;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.12);

    //padding: {
    //  left: .6rem;
    //  right: .6rem;
    //  top: 1.3rem;
    //  bottom: 1.3rem;
    //};

    &:focus{
      border: 2px solid blue;
    }
    &.with-border{
      border: 2px solid blue;
    }

    @media screen and (max-width: $iphone5){
      font-size: 1rem;
      padding-left: 0vw;
      padding-right: 0vw;
      padding-top: 0;
      padding-bottom: 0;
      height: 45px;
      width: 46px;
    }
    @media screen and (min-width: $iphone6-7-8) and (max-width: $iphone-plus){
      font-size: 1.4rem;
      padding-left: 0vw;
      padding-right: 0vw;
      padding-top: 0;
      padding-bottom: 0;
      height: 58px;
    }

    @media screen and (min-width: $ipad) and (max-width: $ipad-pro){
      font-size: 2rem;
      padding-left: 0vw;
      padding-right: 0vw;
      padding-top: 0;
      padding-bottom: 0;
      height: 100px;
    }
    @media screen and (min-width: $ipad-pro){
      font-size: 2rem;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      height: 75px;
      width: 75px;
    }
  }

  @media screen and (min-width: $iphone5) and (max-width: $iphone-plus){
    margin: 1.5vw;
  }
  @media screen and (min-width: $ipad) and (max-width: $ipad-pro){
    margin: 1.5vw;
  }
  @media screen and (min-width: $ipad-pro){
    margin: 1vw;
  }

}