.start-page-component {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  .list{
    li{
      will-change: opacity, transform;
    }
  }

  .list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 10vh;
    padding: 0;



    li{
      list-style: none;
      width: 46%;
      margin-bottom: 5vh;

      opacity: 0;
      transform: translate(0, 25%);
      transition: opacity 1000ms, transform 700ms;
      &.li-animation{
        &-enter{
          &-active{
            opacity: 1;
            transform: translate(0, 0);
          }
          &-done{
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
    }
  }
  section{
//    border-top: 1px solid black;
  }
  .start-page-component-subtitle{

  }
  section.recent-work-section{
    height: 100vh;
  }
  .page-subtitle{
    height: 100vh;
    .subtitle-wrapper{
      position: sticky;
      top: 100px;
      margin-bottom: 250px;
    }
  }

  .greet{
    height: 100vh;
    text-align: center;
    .sticky{
      position: sticky;
      top: 35vh;
    }
    .text-container{
      position: sticky;
      top: 35vh;
    }
  }

  .recent-works{
    .no-proj{
      font-size: 1rem;
      font-weight: 900;
      opacity: .3;
      text-align: center;
      margin: 70px;
    }
  }

  .grey-bg{
    background-color: #fbfcfd;
  }

  .about-me{
    padding: {
      top: 20vh;
      bottom: 20vh;
    };
    .greeting{
      color: black;
      font-size: 1.6rem;
    }
  }
}